.header {
    padding: 19px 0 14px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: grid;
        grid-template-columns: 28px 189px;
        column-gap: 11px;
    }
    &__country {
        color: #242424;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
    }
    &__address, &__link {
        color: #242424;
        font-style: normal;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        text-align: left;
        text-decoration: none;
    }
    &__link {
        transition: .5s all;
        &:hover {
            text-shadow: 0 0 5px #000;
        }
    }
}